[submodule "vendors/zf2"]
	path = vendors/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "vendors/doctrine2"]
	path = vendors/doctrine2
	url = https://github.com/doctrine/doctrine2.git
[submodule "vendors/twig"]
	path = vendors/twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendors/phpunit"]
	path = vendors/phpunit
	url = https://github.com/sebastianbergmann/phpunit.git
[submodule "vendors/ano_zftwig"]
	path = vendors/ano_zftwig
	url = https://github.com/benjamindulau/Ano_ZFTwig.git
